pandas
plotly
streamlit
numpy
matplotlib
hypertools
keybert
easyocr
xpinyin -i http://pypi.douban.com/simple --trusted-host pypi.douban.com
torch==1.8.1+cu102 
torchvision==0.9.1+cu102 
torchaudio==0.8.1
lxml
